@model IEnumerable<Portaria.Core.Model.CadastroMorador.Bloco>

@{
    ViewBag.Title = "Cadastrar Blocos";
}

<h2>Cadastrar Blocos</h2>

<p>
    @Html.ActionLink("Novo Bloco", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
