@model Portaria.Core.Model.Usuario

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>Cadastro de Usuários</h2>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>
                        Editar Usuário
                    </h2>
                </div>

                <div class="card-body card-padding">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true, "Erro ao editar usuário");

                        <div>
                            <div class="@(ViewData.ModelState["Nome"] != null && ViewData.ModelState["Nome"].Errors.Any() ? "form-group has-error" : "form-group")">
                                <div class="fg-line">
                                    @Html.TextBoxFor(u => u.Nome, new { @class = "form-control input-sm", Placeholder = "Nome" })
                                    <small class="help-block">@Html.ValidationMessageFor(u => u.Nome)</small>
                                </div>
                            </div>

                            <div class="@(ViewData.ModelState["RG"] != null && ViewData.ModelState["RG"].Errors.Any() ? "form-group has-error" : "form-group")">
                                <div class="fg-line">
                                    @Html.TextBoxFor(u => u.RG, new { @class = "form-control input-sm", Placeholder = "RG" })
                                </div>
                                <small class="help-block">@Html.ValidationMessageFor(u => u.RG)</small>
                            </div>

                            <div class="@(ViewData.ModelState["CPF"] != null && ViewData.ModelState["CPF"].Errors.Any() ? "form-group has-error" : "form-group")">
                                <div class="fg-line">
                                    @Html.TextBoxFor(u => u.CPF, new { @class = "form-control input-sm", Placeholder = "CPF" })
                                </div>
                                <small class="help-block">@Html.ValidationMessageFor(u => u.CPF)</small>
                            </div>

                            <div class="select">
                                @Html.DropDownListFor(u => u.Tipo, new SelectList(Enum.GetValues(typeof(Portaria.Core.TipoUsuario))), new { @class = "form-control" })
                            </div>

                            <div class="@(ViewData.ModelState["Login"] != null && ViewData.ModelState["Login"].Errors.Any() ? "form-group has-error" : "form-group")">
                                <div class="fg-line">
                                    @Html.TextBoxFor(u => u.Login, new { @class = "form-control input-sm", Placeholder = "Login" })
                                </div>
                                <small class="help-block">@Html.ValidationMessageFor(u => u.Login)</small>
                            </div>

                            <div>
                                <!-- Modal -->
                                <div id="trocarSenha" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Trocar Senha</h4>
                                            </div>
                                            <div class="modal-body">
                                                    <div class="fg-line">
                                                        <input type="text" class="form-control input-sm" placeholder="Senha Atual" id="senhaAtual"/>
                                                    </div>
                                                    <div class="fg-line">
                                                        <input type="text" class="form-control input-sm" placeholder="Senha Nova" id="senhaNova"/>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" onclick="trocaSenha();">Salvar</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <button type="button" data-toggle="modal" data-target="#trocarSenha" class="btn bgm-amber waves-effect">Trocar a senha</button>
                            </div>

                            <div>
                                <br />
                                <button class="btn btn-primary btn-sm waves-effect" type="submit">Salvar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script>
    function trocaSenha() {
        $.ajax({
            url: "/Usuario/AlterarSenha/",
            data: { senhaAtual: $("#senhaAtual").val(), senhaNova: $("#senhaNova").val() },
            type: "post",
            dataType: "json"
            });
    }
</script>