<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portaria Digital</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        @RenderPage("~/Views/Shared/_Header.cshtml")
        @RenderPage("~/Views/Shared/_SideMenu.cshtml")
    }

    @RenderBody()

    @Scripts.Render("~/bundles/js")
</body>
</html>
